@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #545566;
}

body {
    color: #545566;
    background-color: #F9F9F7;
}


.navbar {
    background-color: #D95462 !important;
    border-color: #F9F9F7 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    padding: 0rem 1rem;
}

.navbar-brand {
    color: #F9F9F7 !important;
    float: left !important;
    height: 50px !important;
    padding: 15px 10px !important;
    font-size: 23px !important;
    font-weight: 900 !important;
    line-height: 20px !important;
    border-bottom: 3px solid transparent;
}

a.nav-link {
    color: #F9F9F7 !important;
    font-size: 19px !important;
    font-weight: 500 !important;
}

.nav-item a:hover {
    background-color: #545566 !important;
    color: #D95462 !important;
}

.nav-item a:hover {
    background-color: #545566 !important;
    color: #D95462 !important;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 6px;
}

.bZudva {
    min-height: 18rem;
    background-color: rgb(245, 245, 245);
    margin: 1.6rem 0px 0px;
    font: 300 1.5rem / 2.4rem 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.bZudva {
    width: calc(30% - -22rem);
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto
}

.bZCzZj {
    min-height: 3rem;
    height: 3rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: #545566;
    padding: 0px 1rem;
}

.bZKWDs {
    color: #F9F9F7;
    text-transform: uppercase;
    padding: 1rem 0px 0.8rem;
    font: 400 1.2rem / 1.2rem 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.bZTthB {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.iuNkgC {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.5rem 1rem 0px;
}

.djJIEm {
    width: 4.8rem;
    height: 2.8rem;
    object-fit: contain;
    margin: 0px 1.2rem 0px 0px;
}

.bZdkmI {
    max-width: calc(100% - 10rem);
    color: #545566;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 0%;
    padding: 0.4rem 1px 1px;
    margin: 1px 1rem 4px -13px;
    font: 300 1.5rem / 2.4rem 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.bZlGQR {
    min-width: 1.95rem;
    color: #545566;
    text-align: right;
    margin: auto;
    font: 500 1.5rem / 1.14rem 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.glNWhb {
    width: 4.8rem;
    height: 3.8rem;
    object-fit: contain;
    margin: 0px 1.2rem 0px 0px;
}

.iunUub {
    display: block;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #F9F9F7;
    letter-spacing: 0.15px;
    -webkit-appearance: none;
    width: calc(50% - 3rem);
    height: 2.5rem;
    background-color: #545566;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 1.2rem;
    font: 500 1rem / 1rem 'Montserrat', sans-serif;
    margin: 2rem auto 0.9rem;
    padding: 0.8rem 0px 1rem;
    font-style: normal;
    text-transform: uppercase;
    transition: all .4s ease;
    cursor: pointer;
}

    .iunUub:hover {
        background-color: #D95462;
        color: #F9F9F7;
        text-decoration: none;
    }


.font-weight-light {
    font-weight: 800 !important;
    font-size: x-large !important;
}

.h4, h4 {
    text-align: center !important;
    color: #545566 !important;
    text-decoration: none !important;
    font-weight: 500 !important;
}

.h6, h6 {
    font-size: medium !important;
    text-align: center !important;
    color: #545566 !important;
    text-decoration: none !important;
    font-weight: 500 !important;
}

.form-wrapper {
    width: 271px;
    padding: 0px;
    margin: -30px auto 0px auto;
    border-radius: 1px;
    float: right;
}

.teamDetailsCoverPhoto {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.d-block:hover {
    text-decoration: none !important;
}

div#teamIndexHover:hover h4 {
    background-color: #F9F9F7 !important;
    color: #D95462 !important;
}

.d-block:hover {
    text-decoration: none !important;
}

div#albumIndexHover:hover h6 {
    background-color: #F9F9F7 !important;
    color: #D95462 !important;
}

.teamGamesLinkHover:hover {
    text-decoration: none !important;
}

    .teamGamesLinkHover:hover p {
        color: #D95462 !important;
    }

.text-danger {
    color: red !important;
}

main section:nth-child(1) {
    background: url(https://res.cloudinary.com/dd2kkj3w5/image/upload/v1587057121/GridironBulgaria/Home-Page-BackgroundPhoto/GridironBulgariaHomeBackground-2_ojci4t.jpg);
    padding: 10rem;
}

    main section:nth-child(1) h1 {
        color: #F9F9F7;
        font: 900 3.5rem / 5.14rem 'Montserrat', sans-serif;
        width: 100%;
        margin: 0 auto;
    }

        main section:nth-child(1) h1 span {
            color: #D95462;
        }

footer article:nth-child(1){
    float:left;    
}

footer article:nth-child(2) {
    text-align: right;
}
