<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gridiron Bulgaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/cssGalleryPage/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="~/css/CustomStyleSheetGridironBG.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="padding-left: 0em; padding-right: 0em;">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="https://i.imgur.com/WNYHe2r.png"></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GRIDIRON BULGARIA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav nav-pills flex-grow-1 flex-sm-row-reverse">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PhotoAlbums" asp-action="Index">Галерия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Index">Отбори</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index">Мачове</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                    </ul>
                    <div>
                        <a href="https://www.facebook.com/gridironbulgaria/" class="facebookLink" target="_blank"><i id="facebookIcon" class="fab fa-facebook"></i></a>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <article>
                Copyright &copy; @DateTime.Now.Year | Всички права запазени | Gridiron Bulgaria
            </article>
            <article>
                <a class="githubLink" href="https://github.com/nvgeorgiev/Gridiron-Bulgaria" target="_blank"><i id="githubIcon" class="fab fa-github"></i> Open Source System</a>
            </article>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c81a87e6ff.js" crossorigin="anonymous" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
