@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <main role="main" class="pb-3">
        <div class="headerHome">
            <img src="https://res.cloudinary.com/dd2kkj3w5/image/upload/v1587196641/GridironBulgaria/Home-Page-BackgroundPhoto/GridironBulgariaHomePageIndex_cbwd6k.png" class="header_image" />
        </div>
    </main>
</div>