@{
    ViewData["Title"] = "Home Page";
}


<div id="HomeContainer" class="container-fluid">
    <main>
        <section>
            <h1>
                АМЕРИКАНСКИ ФУТБОЛ В <span>БЪЛГАРИЯ</span>
            </h1>
        </section>
    </main>
</div>