@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <main role="main" class="pb-3">
        <div class="headerHome">
            <img src="https://i.imgur.com/oKWSirR.jpg" class="header_image" />
        </div>
    </main>
</div>