@model GridironBulgaria.Web.ViewModels.Games.EditGameViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h3 class="font-weight-bold">Промяна на мача</h3>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="DateAndStartTime" class="control-label"></label>
                    <input asp-for="DateAndStartTime" class="form-control" />
                    <span asp-validation-for="DateAndStartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StadiumLocationUrl" class="control-label"></label>
                    <input asp-for="StadiumLocationUrl" class="form-control" />
                    <span asp-validation-for="StadiumLocationUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HomeTeamScore" class="control-label"></label>
                    <input asp-for="HomeTeamScore" class="form-control" />
                    <span asp-validation-for="HomeTeamScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AwayTeamScore" class="control-label"></label>
                    <input asp-for="AwayTeamScore" class="form-control" />
                    <span asp-validation-for="AwayTeamScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ГОТОВО" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-danger" role="button">ОБРАТНО</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}