
@{
    ViewData["Title"] = "Soon";
}

    <div class="container">
        <br />
        <br />
        <br />
        <br />        
        <h1 class="headerSoon" align="center">ОЧАКВАЙТЕ СКОРО...</h1>        
    </div>